body {
    background-image: url('../static/car.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

.container {
    margin-top: 5%;
}

.card {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

h1 {
    color: #007bff;
}

label {
    color: #333;
}

button {
    background-color: #007bff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}
